.fontgreen{ 
    color:  #D36B00;

}

.managing{
    background-color: aliceblue;
    opacity: 0.2;
}
.barouter{
    height: 20px;
    background-color: white;
}

.baranimate{ 
    animation: progress 2s ease-in-out forwards;
    background-color: #D36B00;
}
.greenborder{

    border-right: 2px solid #D36B00 ;
    height: 100%;
}

@keyframes progress {
    0%{
        width: 0;
    }
    100%{
        

    }
}

